<?xml version="1.0"?>

<robot name="test_bot"
	xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="common_properties.xacro" />

	<link name="base_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/base_link.stl" />
			</geometry>
			<origin xyz="0 0 0.085" rpy="0 0 0" />
			<material name="light_grey" />
		</visual>
	</link>

	<link name="ebox_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/ebox_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<material name="white" />
		</visual>
	</link>

	<link name="front_right_wheel_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/wheel_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="${pi / 2.0} 0 0" />
			<material name="green" />
		</visual>
	</link>

	<link name="front_left_wheel_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/wheel_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="${-pi / 2.0} 0 0" />
			<material name="green" />
		</visual>
	</link>

	<link name="rear_right_wheel_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/wheel_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="${pi / 2.0} 0 0" />
			<material name="green" />
		</visual>
	</link>

	<link name="rear_left_wheel_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/wheel_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="${-pi / 2.0} 0 0" />
			<material name="green" />
		</visual>
	</link>

	<link name="lidar1_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/lidar1_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 ${pi / 2.0}" />
			<material name="black" />
		</visual>
	</link>

	<link name="lidar2_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/lidar2_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="0 ${pi} 0" />
			<material name="black" />
		</visual>
	</link>

	<link name="d455_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/camera_link.stl" />
			</geometry>
			<origin xyz="0 0.305 0" rpy="0 0 0" />
			<material name="camera_grey" />
		</visual>
	</link>

	<link name="nuc_link">
		<visual>
			<geometry>
				<mesh filename="file:///$(find lunabot_description)/meshes/nuc_link.stl" />
			</geometry>
			<origin xyz="0 0 0" rpy="${pi} 0 ${pi}" />
			<material name="black" />
		</visual>
	</link>

	<joint name="base_rear_right_wheel_joint" type="fixed">
		<parent link="base_link" />
		<child link="rear_right_wheel_link" />
		<origin xyz="-0.19 -0.25 0.085" rpy="0 0 0" />
		<axis xyz="0 1 0" />
	</joint>

	<joint name="base_rear_left_wheel_joint" type="fixed">
		<parent link="base_link" />
		<child link="rear_left_wheel_link" />
		<origin xyz="-0.19 0.25 0.085" rpy="0 0 0" />
		<axis xyz="0 1 0" />
	</joint>

	<joint name="base_front_right_wheel_joint" type="fixed">
		<parent link="base_link" />
		<child link="front_right_wheel_link" />
		<origin xyz="0.28 -0.25 0.085" rpy="0 0 0" />
	</joint>

	<joint name="base_front_left_wheel_joint" type="fixed">
		<parent link="base_link" />
		<child link="front_left_wheel_link" />
		<origin xyz="0.28 0.25 0.085" rpy="0 0 0" />
	</joint>

	<joint name="base_lidar1_joint" type="fixed">
		<parent link="base_link" />
		<child link="lidar1_link" />
		<origin xyz="0 0 0.71" rpy="0 0 ${pi}" />
	</joint>

	<joint name="base_lidar2_joint" type="fixed">
		<parent link="base_link" />
		<child link="lidar2_link" />
		<origin xyz="0.305 0 0.12" rpy="0 ${pi} 0" />
	</joint>

	<joint name="base_ebox_link" type="fixed">
		<parent link="base_link" />
		<child link="ebox_link" />
		<origin xyz="0.04 0 0.21" rpy="0 0 0" />
	</joint>

	<joint name="base_d455_joint" type="fixed">
		<parent link="base_link" />
		<child link="d455_link" />
		<origin xyz="0.305 0.1 0.2" rpy="0 0 0" />
	</joint>

	<joint name="base_nuc_joint" type="fixed">
		<parent link="base_link" />
		<child link="nuc_link" />
		<origin xyz="-0.12 0.0 0.145" rpy="0 0 0" />
	</joint>


</robot>
